<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080527124141-oebd1k1chg7lvg8be9e2j6edbd6o9rdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080527124141-oebd1k1chg7lvg8be9e2j6edbd6o9rdh</string>
	<key>API_KEY</key>
	<string>AIzaSyD0qJZz-nX-nkjVDMgrcfO2FktSTZHCGaY</string>
	<key>GCM_SENDER_ID</key>
	<string>1080527124141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hdsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hds-gworkspace-reseller</string>
	<key>STORAGE_BUCKET</key>
	<string>hds-gworkspace-reseller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080527124141:ios:1ba780ad7bb298d6fbb824</string>
	<key>DATABASE_URL</key>
	<string>https://hds-gworkspace-reseller-default-rtdb.firebaseio.com</string>
</dict>
</plist>